- content_for :title do
  Visuality dashboard

.gridster
  %ul
    %li{"data-row" => 1, "data-col" => 1, "data-sizex" => 2, "data-sizey" => 1}
      %div{"data-id" => "welcome", "data-view" => "Text", "data-title" => "Hello", "data-text" => "Visuality dashboard", "data-moreinfo" => "More info"}
    %li{"data-row" => 1, "data-col" => 3, "data-sizex" => 1, "data-sizey" => 1}
      %div{"data-id" => "ghstats", "data-view" => "Codestats", "data-additions" => 0, "data-deletions" => 0, "data-commits" => 0, "data-prs" => 0}
    %li{"data-row": 2,"data-col": 1, "data-sizex": 2, "data-sizey": 1}
      %div{"data-id": "clock", "data-view": "Clock"}
    %li{"data-row" => 2, "data-col" => 3, "data-sizex" => 2, "data-sizey" => 1 }
      %div{"data-id" => "servers", "data-view" => "List", "data-title" => "Server responses", "data-unordered" => true}
