- content_for :title do
  Visuality dashboard

.gridster
  %ul
    %li{"data-row" => 1, "data-col" => 1, "data-sizex" => 2, "data-sizey" => 1}
      %div{"data-id" => "welcome", "data-view" => "Text", "data-title" => "Hello", "data-text" => "Visuality dashboard", "data-moreinfo" => "More info"}

    %li{"data-row" => 1, "data-col" => 1, "data-sizex" => 2, "data-sizey" => 1 }
      %div{"data-id" => "servers", "data-view" => "List", "data-title" => "Server responses", "data-unordered" => true}
